venv/
pycache/
*.pyc
*.ipynb
*.log
*.pid
*.sock
*.gz
*.tar
*.zip
*.rar
*.7z
*.xz
*.bz2
*.lzma
*.Z
*.tgz
*.tbz2
*.tlz
*.txz
*.dmg
*.iso
*.img
*.vmdk
*.vdi
*.vhd
*.vhdx
.DS_Store
Thumbs.db
.vscode/
.idea/
*.vscodeignore
*.code-workspace
*.sublime-project
*.sublime-workspace
*.sln
*.csproj
*.vbproj
*.vcxproj
